@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');


*{
    transition: all 1s ease;
}

body {
    background-color:#181818;
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

div#navbar{
    background-color: #3A413D;
    width: 100%;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 60px;
    box-shadow: 0px 2px 3px 2px black;
}

img.dentronavbar{
    max-height: 50px;
    float: left;
    margin: 5px 3% 5px 1%;
}

p.dentronavbar{
    float: left;
    margin-right: 1%;
    box-shadow: 1px 1px 1px 0px black;
}

p.dentronavbar:hover{
    box-shadow: 0px 0px 0px 0px black;
    background-color: #4D5651;
}

p#search{
    float: left;
    margin-right: 1%;
}

p#ricerca{  
    float: left;
    margin-right: 1%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px;
}

p#chisono{
    margin-left: 55%;
    border-right: 1px solid white;
    padding-right: 8px;
}

p#opzioni{
    border-right: 1px solid white;
    padding-right: 8px;
}

p#menu{
  margin-right: 1%;
}

img#iniziale{
    max-width: 97%;
    margin: 0px 10px;
    border: 2px solid #181818;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px black;
}

div#supremo{
    max-width: 85%;
    margin: 0px auto 0px;
}

h1.dentrotestata{
    text-align: center;
    text-decoration: solid;
    font-size: 400%;
}

img.dentrocontenuto{
    max-width: 50%;
    min-width: 400px;
    float: left;
    border: 2px solid white;
    border-radius: 70px;
    margin: 3px 10px 5px 3px;
}

div#piedipagina{
    background-color: #3A413D;
    width: 99,9%;
    height: 200px;
    box-shadow: 0px -1px 7px 1px black;
    margin: 150px 10px 0px;
}

div#piedipagina p{

    text-align: center;
    padding: 50px;

}

@media screen and ( max-width: 1000px ) {
    div#navbar{
        display: none;
    }
}

@media screen and ( max-width: 1299px ) {
    p#chisono{
        margin-left: 52%;
        border-right: 1px solid white;
        padding-right: 8px;
    }
}

@media screen and ( max-width: 1225px ) {
    p#chisono{
        margin-left: 48%;
        border-right: 1px solid white;
        padding-right: 8px;
    }
}

@media screen and ( max-width: 1120px ) {
    p#chisono{
        margin-left: 44%;
        border-right: 1px solid white;
        padding-right: 8px;
    }
}

@media screen and ( max-width: 1020px ) {
    p#chisono{
        margin-left: 42%;
        border-right: 1px solid white;
        padding-right: 8px;
    }
}

@media screen and ( max-width: 800px ) {
    img.dentrocontenuto{
        max-width: 400px;
        float:none;
        border: 2px solid white;
        border-radius: 70px;
        margin: 3px 0px;
    }
    
    img#iniziale{
        max-width: 97%;
        margin: 0px auto;
        border: 2px solid #181818;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 0px black;
    }
    
}