@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

*{
    transition: all 0.7s ease;
}

body {
    background-color:#181818;
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body.menu-open{
    max-width: 60%;
    margin: 0% 0% 0% 2%;
}

div.testata{
    width: 100%;
    font-size: 120%;
}

div.navbar{
    background-color: #3A413D;
    width: 30%;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 0vh;
    box-shadow: 0px 2px 3px 2px black;
    overflow: hidden;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;
}

.menu-open .navbar{
    height: 100vh;
    opacity: 1;
}

div.contenitoreoggetti{
    margin-top: 50%;
}

img.dentronavbar{
    opacity: 0;
}

.navbar__menu li a{
    color:white;
    text-decoration: none;
}

.navbar li{
    margin-bottom: 20%;
    font-size:180%;
    list-style-type: none;
}

div.icone{
    width:15%;
    background-color:#3A413D;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.panino span{
    height: 6px;
    width: 70px;
    background: white;
    position: relative;
    display: block;
    margin: 18px auto;
}

div.supremo{
    max-width: 85%;
    margin: 140px auto 0%;
    font-size: 190%;
}


img#iniziale{
    max-width: 97%;
    margin: 0px 10px;
    border: 2px solid #181818;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px black;
}

div#supremo{
    max-width: 85%;
    margin: 120px auto 0px;
}

h1.dentrotestata{
    text-align: center;
    text-decoration: solid;
    font-size: 290%;
}

img.dentrocontenuto{
    max-width: 50%;
    min-width: 400px;
    float: left;
    border: 2px solid white;
    border-radius: 70px;
    margin: 3px 10px 5px 3px;
}

div#piedipagina{
    background-color: #3A413D;
    width: 99,9%;
    height: 200px;
    box-shadow: 0px -1px 7px 1px black;
    margin: 150px 10px 0px;
}

div#piedipagina p{

    text-align: center;
    padding: 30px;
    height: min-content;
}

@media screen and (min-width: 1300px){
   
    div.testata{
        width: 100%;
        font-size: 140%;
    }
   
    div.icone{
        display:none;
    }

    div.navbar{
        opacity: 1;
        height: 90px;
        width: 100%;
    }
    
    div.contenitoreoggetti{
        max-width: 90%;
        max-height: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
        justify-content: center;
    }

    .navbar__menu li{
        display: inline-block;
        padding: 7px;
        padding-top: 5px;
        font-size: 150%;
        margin: 0px 30px 0px 30px;
    }

    img.dentronavbar{
        opacity: 1;
        max-height: 60px;
        float: right;
        position: fixed;
        top: 15px;
        left: 15px;
    }

    
}